@use "variables" as *;

html, body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;
  scrollbar-width: none;
}

.page__wrapper {
	width: 100%;

	&_locked {
		position: fixed;
	}
}
